.at-block-button {
    box-sizing: border-box;
    display: flex;

    &__wrapper {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
    }

    &__button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
    }

    a.at-block-button__button {
        text-decoration: none;
    }

    &--has-icon {
        .at-block-button__icon {
            svg {
                width: 22px;
                height: 22px;
            }
        }
    }
}