// Carousel.
@use '../../../../sass/common-components/carousel';

.at-block-post-grid {
    box-sizing: border-box;

    &__swiper {
        .swiper-slide {
            box-sizing: border-box;
        }
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(var(--atb-post-grid-columns, 3), 1fr);
        column-gap: var(--atb-post-grid-columns-gap, 0px);
        row-gap: var(--atb-post-grid-rows-gap, 0px);
    }

    &__item {
        position: relative;

        &:hover {
            .at-block-post-grid__image-image {
                transform: scale(1.05);
            }
        }
    }

    &__image {
        .at-block-post-grid__image-image {
            width: 100%;
            max-width: 100%;
            height: auto;
        }
    }

    // Content horizontal alignment.
    &.content-align-center {
        .at-block-post-grid__meta {
            justify-content: center;
        }
    }

    &.content-align-right {
        .at-block-post-grid__meta {
            justify-content: flex-end;
        }
    }

    // Title.
    &__title {
        margin-top: 0;

        a {
            display: block;
            color: inherit !important;
            text-decoration: inherit !important;
        }
    }

    // Meta.
    &__meta {
        display: flex;
        flex-wrap: wrap;
        column-gap: 15px;
        font-size: 0.85em;

        a {
            display: inline-flex;
            color: inherit !important;
            text-decoration: inherit !important;
        }
    }

    &__author,
    &__date,
    &__comments,
    &__taxonomy {
        display: inline-flex;
        gap: 3px;
        align-items: center;
        text-decoration: none;

        .at-block-post-grid__meta-icon {
            display: flex;
            width: 1.1em;

            svg {
                width: 100%;
                height: auto;
            }
        }
    }

    &__author,
    &__date,
    &__comments {
        transition: ease opacity 250ms;

        &:hover {
            opacity: 0.8;
        }
    }

    &__taxonomy-link {
        text-decoration: none;
        transition: ease opacity 250ms;

        &:hover {
            opacity: 0.8;
        }
    }

    // Excerpt.
    &__excerpt {
        p {
            margin: 0;
        }
    }

    // Read more.
    &__read-more {
        display: inline-flex;
    }

    // Image.
    &__image {
        display: block;
        overflow: hidden;

        .at-block-post-grid__image-image {
            transition: ease transform 250ms;
        }
    }

    &[class*="atb-image-ratio-"] {
        .at-block-post-grid__image {
            .at-block-post-grid__image-image {
                object-fit: cover;
                object-position: center;
            }
        }
    }

    &.atb-image-ratio-1-1 {
        .at-block-post-grid__image {
            .at-block-post-grid__image-image {
                aspect-ratio: 1 / 1;
            }
        }
    }

    &.atb-image-ratio-2-1 {
        .at-block-post-grid__image {
            .at-block-post-grid__image-image {
                aspect-ratio: 2 / 1;
            }
        }
    }

    &.atb-image-ratio-3-2 {
        .at-block-post-grid__image {
            .at-block-post-grid__image-image {
                aspect-ratio: 3 / 2;
            }
        }
    }

    &.atb-image-ratio-4-3 {
        .at-block-post-grid__image {
            .at-block-post-grid__image-image {
                aspect-ratio: 4 / 3;
            }
        }
    }

    &.atb-image-ratio-16-9 {
        .at-block-post-grid__image {
            .at-block-post-grid__image-image {
                aspect-ratio: 16 / 9;
            }
        }
    }

    // Image Position.
    &.atb-image-position-background {
        .at-block-post-grid__image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;

            .at-block-post-grid__image-image {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }

    // Carousel dots.
    &.atb-has-carousel-dots {
        .swiper-wrapper {
            padding-bottom: 30px;
        }
    }

    // Pagination.
    &__pagination {
        display: flex;

        &.load-more,
        &.infinite-scroll {
            .at-block-post-grid__pagination-numbers {
                display: none;
            }
        }

        &.infinite-scroll {
            .at-block-post-grid__pagination-button {
                background-color: transparent !important;
                border: none !important;

                .atb-spinner-loader {
                    background-color: #212121;
                }
            }
        }
    }

    &__pagination-numbers {
        ul.page-numbers {
            display: flex;
            align-items: center;
            gap: var(--atb-post-grid-pagination-items-gap, 5px);
            padding: 0;

            li {
                list-style: none;
            }
        }

        .page-numbers {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            color: var(--atb-post-grid-pagination-text-color, #212121);
            text-decoration: none;
            cursor: pointer;

            &.current {
                background-color: var(--atb-post-grid-pagination-active-background-color, #212121);
                color: var(--atb-post-grid-pagination-active-text-color, #FFF);
            }

            &.next,
            &.prev {
                color: var(--atb-post-grid-pagination-text-color, #212121);
            }
        }
    }

    &__pagination-button {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-decoration: none !important;
    }
}